* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin-bottom: 25px;
}

body {
    background-attachment: fixed;
    width: 100%;
    margin: 0 auto;
}

#about {
    margin-right: 600px;
}
header {
    margin: 0;
    padding: 0;
    display: block;   
}

#slogan {
    text-align: justify;
    margin-left: 140px;
}

header img {
    width: 250px;
    height: auto;
}
header nav {
    margin: 0;
    padding: 30px;   
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    
}

header nav ul a {
    text-decoration: none;
    list-style: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-style: bold;
}
header nav ul a:hover {
    color: black;
}

main { 
    padding: 60px;
    margin-bottom: 25px;
    background-attachment: fixed;
    background-size: cover;
}

#abstand br {
    height: 200px;
} 

h1 {
    font-size: 40px;
    margin-bottom: 25px;
    color: rgb(0, 0, 0);
}

h2 {
    font-size: 35px;
    margin-bottom: 25px;
}

#musikschule {
    text-align: right;
    align-items: flex-end;
    margin-left: 600px;
}

#musikschule img {
    width: 42px;
    height: auto;
}

#bands {
    display: block;
    width: 32px;
    height: auto; 
}

footer {
    color: rgb(0, 0, 0);
    padding: 30px;   
    opacity: 1;
    margin: 0;
    text-align: right;
}

#homebutton {
    display: flex;
    align-items: flex-end;
    width: 32px;
    height: auto; 
}